---
name: Build, test and lint
permissions:
  contents: read

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']


jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.25.5'

      - name: Install tools
        run: make tools

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Tidy up dependencies
        run: make tidy

      - name: Run tests
        run: make test

      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
